<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asiet.miniproject">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="LibKart"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartupScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeScreen" />
        <activity android:name=".MyBooks" />
        <activity android:name=".SearchResult" />
        <activity android:name=".MyProfile" />
        <activity android:name=".MyCart" />
        <activity android:name=".AdvSearch" />
        <activity android:name=".AdvSearchResult" />
        <activity android:name=".SearchView" />
        <activity android:name=".FinalCart" />
        <activity android:name=".AdvSearchView" />
        <activity android:name=".MyBookView"></activity>
    </application>

</manifest>